<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232770714709-3dm6hnu3ed40vuhkv7upm912rhi32t9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232770714709-3dm6hnu3ed40vuhkv7upm912rhi32t9a</string>
	<key>API_KEY</key>
	<string>AIzaSyDQmGvDXLn8A3mgDb9XMjH5ASo81s2FRdI</string>
	<key>GCM_SENDER_ID</key>
	<string>232770714709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twoaccountfirebasedifferentinjustproject</string>
	<key>PROJECT_ID</key>
	<string>twoaccountfirebaseone</string>
	<key>STORAGE_BUCKET</key>
	<string>twoaccountfirebaseone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232770714709:ios:adc9a2f0c548d9dd5e28dc</string>
	<key>DATABASE_URL</key>
	<string>https://twoaccountfirebaseone-default-rtdb.firebaseio.com</string>
</dict>
</plist>